<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<link rel="stylesheet" type="text/css" href="css/win8.css" />
<script type="text/javascript" src="scripts/jquery-2.1.0.js"></script>
<script type="text/javascript" src="scripts/layout.js"></script>
    <link rel='stylesheet' href='/stylesheets/win8.css' />
</head>
<body>
	<div class="header">
		<div class="title">
			Region8848
		</div>
		
		<div class="menu">
			<ul>
				<li><a>Home</a></li>
				<li><a>Note</a></li>
				<li><a>About</a></li>
				<li><a>Thx</a></li>
			</ul>
		</div>

		<div class="menu_login">
			<a>登陆</a>
			<a>注册</a>
		</div>
	</div>

	<div class="main"> 
		<div class="main_body">

			<div class="elem">
				<div class="elem_header">
					<a>Title1</a>
				</div>
			
				<div class="elem_footer">
					<p>发表日期</p>
					<p>浏览次数</p>
					<p>发表日期</p>
					<p>浏览次数</p>
					<a>上一篇</a>|
					<a>下一篇</a>
				</div>
			</div>

			
		</div>

		<div class="main_sidebar">
			<div class="sidebar_header">
				Category Sidebar
			</div>
			<div class="sidebar_body">
				<ul>
					<li><a>category</a></li>
					<li><a>category</a></li>
					<li><a>category</a></li>
					<li><a>category</a></li>
					<li><a>category</a></li>
				</ul>
			</div>
		</div>
		
	</div> 

	<div class="footer">
		<div class="footer_body">
			this is a footer|201404 
		</div>
	</div>
</body>
</html>
