<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<script type="text/javascript" src="scripts/example.js"></script>
<link rel="stylesheet" type="text/css" href="css/win8.css" />
    <link rel='stylesheet' href='/stylesheets/win8.css' />
</head>
<body>

<div id="testdiv"></div>

<div class="main"> 
	<div class="main_body">

		<table class="mytable">
			<thead>
				<tr>
					<td>
						title
					</td>
					<td>
						operation
					</td>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>
						topic1
					</td>
					<td>
						<div class="button_list">
						<ul>
							<li>
								<div class="mybutton">
									<a>show</a>
								</div>
							</li>

							<li>
								<div class="mybutton">
									<a>edit</a>
								</div>
							</li>

							<li>
								<div class="mybutton">
									<a>delete</a>
								</div>
							</li>
						<ul>
						</div>
					</td>
				</tr>

				<tr>
					<td>
						topic2
					</td>
					<td>
						<div class="button_list">
						<ul>
							<li>
								<div class="mybutton empty-button">
									<a>show</a>
								</div>
							</li>

							<li>
								<div class="mybutton empty-button">
									<a>edit</a>
								</div>
							</li>

							<li>
								<div class="mybutton empty-button">
									<a>delete</a>
								</div>
							</li>
						<ul>
						</div>
					</td>
				</tr>


			</toby>
		</table>


				

	</div>			
</div>

</body>
</html>
